.dark:root {
    --color-background: #{$background-dark};
    --color-background-footer: #{$background-footer-dark};
    --color-background-input: #{$background-input-dark};
    
    --color-text: #{$color-font-dark};
}