.c-input__container {
  position: relative;
  margin:  10px 0 10px 0;

  .c-input__label {
    color: $gray-light;
    font-size: 16px;
    margin: 4px;
    position: absolute;
    top: 20px;
    cursor: text;
  }

  .c-input, .c-textarea {
    background-color: $white-gray-light;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: $gray-light;
    display: flex;
    height: 56px;
    outline: 0;
    padding: 12px 4px 4px 4px;
    width: 100%;

    &:focus ~ .c-input__label,
    &:not(:placeholder-shown) ~ .c-input__label {
      font-size: 14px;
      transform: translateY(-20px);
    }
  }

  .c-textarea {
    height: 120px;
    width: 100%;
    padding: 22px 4px 4px 4px;
  }
}