.c-copyright {
    display: flex;
    background: $purple;
    height: 72px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $white-gray-light;
    font-size: 20px;
}