.c-copyright {
    display: flex;
    background: $purple;
    height: 72px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $white-gray-light;
    font-size: 1.1em;

    a {
        color: $white-gray-light;
        margin-left: 8px;
        cursor: pointer;

        &:hover {
            color: $gray-light;
            transition: .3s all;
        }
    }
}