.c-contact {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;

    span {
        display: flex;
        align-items: center;
        margin-top: 10px;

        &:hover {
            color: $gray-light;
            transition: .3s all;

            a {
                color: $gray-light;
                transition: .3s all;
            }
        }

        a {

            color: var(--color-text);
            margin-left: 8px;
            cursor: pointer;
        }
    }
}