.l-contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 1245px;
    height: 350px;
    box-sizing: border-box;
}

@media screen and (max-width: 720px) {
    .l-contact {
        flex-direction: column;
    }
}